body {
    background-color: #e6e4d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header, .section-title {
    text-align: center;
    background-color: #513B35;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
  }
  
  .card {
    background-color: #513B35;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
  }
  
  .card h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-spacing: 10px;
  }
  
  .table th, .table td {
    background-color: #dcd8c0;
    border-radius: 6px;
    padding: 8px;
    text-align: center;
    color: black;
  }
  
  .input-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .input-section label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: bold;
  }
  
  .input-section input {
    display: block;
    width: 25%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .button {
    background-color: #dcd8c0;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .acciones button {
    background-color: #F30404;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #513B35;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .floating-chat {
    position: fixed;
    right: 30px;
    top: 55%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #513B35;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  }
  